# 编译输出文件夹
build/
cmake-build-debug/
cmake-build-release/

# 可执行文件
*.exe
*.out
*.app

# 日志与临时文件
*.log
*.tmp
*.temp

# IDE 配置文件
.vs/
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.user
*.suo

# 系统文件
.DS_Store
Thumbs.db